@import "tailwindcss";

*{
  transition: 0.5s all;
}

.chatBody {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.chatBody::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


button{
  cursor: pointer;
}