@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  transition: 0.5s all;
  font-family: "Montserrat", sans-serif;
}

.chatBody {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.chatBody::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


button{
  cursor: pointer;
}

.inactive{
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.5s all;
}

.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 0.5s all;
}

.clip-diagonal{
  clip-path: polygon(0 0, 100% 0, 65% 100%, 0 100%);
}